<h1>Edit your Event</h1>

<%= simple_form_for @event do |f| %>
  <%= f.input :name %>
  <%= f.input :date %>
  <%= f.input :address %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Back to event", event_path(@event) %>
