<h1>Events</h1>

<ul><% @events.each do |event|  %>
  <li><%= link_to event.name, event_path(event)  %></li>
  <li><%= event.user.email  %></li>
  <li><%= event.address  %></li>
<% end %>
</ul>

<%# footbar %>
<div class="footbar">
  <div class="flex-container">
    <%= link_to(events_path) do %>
    <i class="footbar-links fa-sharp fa-solid fa-calendar-days"></i>
    <% end %>

    <%= link_to(new_event_path) do %>
    <i class="footbar-links fa-sharp fa-solid fa-circle-plus"></i>
    <% end %>

    <%= link_to(invitations_path) do %>
    <i class="footbar-links fa-sharp fa-solid fa-envelope"></i>
    <% end %>
  </div>
</div>
