<h1>Events</h1>


<div>
<% @events.each do |event| %>
    <%= link_to event_path(event) do %>
    <div class="text-center">
      <button class="button-event"><p class="texts"><%= event.date %> <%= event.name %></p></button>
    </div>
    <% end %>
  <% end %>
</div>

<%# footbar %>
<div class="footbar">
  <div class="flex-container">
    <%= link_to(events_path) do %>
    <i class="footbar-links fa-sharp fa-solid fa-calendar-days"></i>
    <% end %>

    <%= link_to(new_event_path) do %>
    <i class="footbar-links fa-sharp fa-solid fa-circle-plus"></i>
    <% end %>

    <%= link_to(invitations_path) do %>
    <i class="footbar-links fa-sharp fa-solid fa-envelope"></i>
    <% end %>
  </div>
</div>
