<div class="container_new">
  <div class="wrap">
    <h2 class="event-header"> Create a new Event </h2>

    <div class="form-content">
      <%= simple_form_for @event do |f| %>
        <%= f.input :name %>
        <%= f.input :date %>
        <%= f.input :address %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
