<div class="container_new">
    <h2> Create a new Event </h2>
  <div class="form_event">

    <%= simple_form_for @event do |f| %>
      <%= f.input :name %>
      <%= f.input :date %>
      <%= f.input :address %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
