<!-- General design / copy that to every page -->
<div class="container pt-0"
  data-controller="event-subscription"
  data-event-subscription-event-id-value="<%= @event.id %>">

  <div class="side-container">

    <div class="row-header">
      <div class="back-button">
        <%= link_to(events_path) do %>
        <div class="btn-back"><i class="fa-solid fa-arrow-left"></i></div>
        <% end %>
      </div>
    </div>

  <!-- Body of the page / different code / Don't forget the CLOSING BODY -->
    <div class="row-body">
      <div class="body-event">

        <div class="body-title pt-2 pb-2">
          <%# Header with icons %>

          <div class="header-name d-flex justify-content-around">
            <h2><%= @event.name %></h2>

              <%= link_to(edit_event_path(@event)) do %>
              <i class="fa-solid fa-pen-to-square icons-pen-trash"></i>
              <% end %>

              <%= link_to(event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} ) do %>
              <i class="fa-solid fa-trash icons-pen-trash"></i>
              <% end %>
          </div>

          <%# Image %>
          <div class="d-flex justify-content-center">
            <img class="projector" src="https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="movie projector">
          </div>

          <%# Div with Hostinfos/Pic %>
          <div class="host-tags">
            <div class="avatar-host">
              <img src="https://www.creativefabrica.com/wp-content/uploads/2022/11/01/Whimsical-Ultra-Cute-Fat-Baby-Yoda-In-Fairytale-Landscape-44164990-1.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
            </div>
            <div>
              <h4 class="host-header">Created by: </h4>
              <p><%= @event.user.email %> </p>
            </div>
          </div>

          <%# Date/Address Tags %>
          <div class="tags">
            <div class="info-tag">
              <h3><i class="fa-solid fa-calendar-days icons-user-cal-ort"></i> Date: </h3>
              <p class="display-info"><%= @event.date %></p>
            </div>

            <div class="info-tag">
              <h3><i class="fa-solid fa-location-dot icons-user-cal-ort"></i> Address: </h3><br>
              <p class="display-info"><%= @event.address %></p>
            </div>
          </div>


        <% if @event.invitations.empty? && @event.selected_movies.empty? %>
          <div class="container-links info-tag ">
            <div class="text-friend flex-grow-1">
              <h3>
                <i class="fa-solid fa-user icons-user-cal-ort"></i>
              Your Guests:
              </h3>
            </div>
          </div>

        <% else %>

          <div class="container-add-friends d-flex">
            <div class="text-friend flex-grow-1">
              <h3>
                <i class="fa-solid fa-user icons-user-cal-ort"></i>
              Your Guests:
              </h3>
            </div>
            <div class="add-friend">
              <%= link_to(users_event_path(@event)) do %>
                <i class="fa-solid fa-user-plus"></i>
                <% end %>
            </div>
          </div> <!--container-add-friend-->
          <%= render "invitations/status", event: @event  %>

        <% end %>

      </div> <!--body event-->

    </div> <!--row body-->
  </div> <!-- CLOSING BODY-->

  </div> <!-- side container-->

  <%# Button Next/Start %>
  <%# <div class="row-cta d-flex  py-4 px-2"> %>
  <div class="d-flex pb-2 px-2 div-see-start-movies">
    <div class="submit-button">
      <div class="btn-cta">
        <% if @event.selected_movies.empty? %>
          <div>
            <div> <%= link_to "Start movie selection", set_genre_event_path(@event), class: "btn-start-movie-selection"%></div>
          </div>
        <% else %>
          <div>
            <div> <%= link_to "See your movies", top_event_selected_movies_path(@event), class: "btn-see-your-movies" %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div> <!-- CLOSING CONTAINER-->
