<!-- General design / copy that to every page -->
<div class="container pt-0"
  data-controller="event-subscription"
  data-event-subscription-event-id-value="<%= @event.id %>">

  <div class="side-container">

    <div class="row-header">
      <div class="back-button">
        <%= link_to(events_path) do %>
        <div class="btn-back"><i class="fa-solid fa-arrow-left"></i></div>
        <% end %>
      </div>
    </div>

  <!-- Body of the page / different code / Don't forget the CLOSING BODY -->
    <div class="row-body">
      <div class="body-event">

        <div class="body-title pt-2 pb-2">
        </div>

<div class="row">
  <%# Date %>

  <h5 class="display-info-top mb-0"><%= @event.date.strftime("%a, %e %b | %k:%M") %></h5>

  <div class="header-name py-1">
    <h2><%= @event.name %></h2>
  </div>

  <%# Address %>
  <h5 class="display-info-top pb-1"><i class="display-address fa-solid fa-location-dot icons-user-cal-ort"></i><%= @event.address %></h5>


        <%# Image %>
        <div class="d-flex justify-content-center">
          <img class="projector py-1" src="https://images.unsplash.com/photo-1505686994434-e3cc5abf1330?ixlib=rb-4.0.3&ixid=MnwxM[…]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80" alt="movie projector">
        </div>


<div class="row">
        <%# Div with Hostinfos/Pic %>
        <div class="col-8 host-tags pl-1">
          <div class="avatar-host">
            <img src="https://icons-for-free.com/iconfiles/png/512/vader+starwars+super+villain+vader+icon-1320166752945517581.png" alt="Avatar Logo" style="width:40px; height:40px; background-color: white;" class="rounded-pill">
          </div>
          <div>
            <h4 class="host-header">Created by: </h4>
            <p><%= @event.user.email %> </p>
          </div>
        </div>

         <div class="col-4 icons-delete-modify d-flex justify-content-end m-0 p-0">
            <%= link_to(edit_event_path(@event)) do %>
            <i class="fa-solid fa-pen-to-square icons-pen-trash px-4"></i>
            <% end %>

            <%= link_to(event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} ) do %>
            <i class="fa-solid fa-trash icons-pen-trash"></i>
            <% end %>
        </div>
</div>

        <%# Date/Address Tags %>

        <% if @event.invitations.empty? && @event.selected_movies.empty? %>
          <div class="container-links info-tag ">
            <div class="text-friend flex-grow-1">
              <h3 class="no-guest">
                <i class="fa-solid fa-user icons-user-no-guest"></i>
              Your Guests
              </h3>
              <h5 class="pt-3 py-1">Choose your movie first, add your friends later!</h5>
            </div>
          </div>

        <% else %>

          <div class="container-add-friends d-flex">
            <div class="text-friend flex-grow-1">
              <h3 class= "pt-2">
                <i class="fa-solid fa-user icons-user-cal-ort"></i>
              Your Guests
              </h3>
            </div>
            <div class="add-friend">
              <%= link_to(users_event_path(@event)) do %>
                <i class="fa-solid fa-user-plus"></i>
                <% end %>
            </div>
          </div> <!--container-add-friend-->
          <%= render "invitations/status", event: @event  %>

        <% end %>

      </div> <!--body event-->

    </div> <!--row body-->
  </div> <!-- CLOSING BODY-->

  </div> <!-- side container-->

  <%# Button Next/Start %>
  <%# <div class="row-cta d-flex  py-4 px-2"> %>
  <div class="d-flex pb-2 px-2 div-see-start-movies">
    <div class="submit-button">
      <div class="btn-cta">
        <% if @event.selected_movies.empty? %>
          <div>
            <div> <%= link_to "Start movie selection", set_genre_event_path(@event), class: "btn-start-movie-selection"%></div>
          </div>
        <% elsif @voted_movies.empty? %>
          <div>
            <div> <%= link_to "Vote on your movies", event_selected_movies_path(@event), class: "btn-see-your-movies" %></div>
          </div>
        <% else %>
          <div>
            <div> <%= link_to "See your movies", top_event_selected_movies_path(@event), class: "btn-see-your-movies" %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div> <!-- CLOSING CONTAINER-->
