<!-- General design / copy that to every page -->
<div class="container py-0"> <%#Edited %>
  <div class="row-header">
    <div class="back-button">
      <%= link_to(event_path(@event)) do %>
      <div class="btn-back"><i class="fa-solid fa-arrow-left"></i></div>
      <% end %>
    </div>
  </div>
<!-- General design / copy that to every page -->

<!-- Body of the page / different code / Don't forget the CLOSING BODY -->
  <div class="row-body">
    <div class="body-event">
      <div class="body-title pt-0 pb-1">
        <h2 class="event-header">Add Friends to <br> <%= @event.name %></h2>
      </div>
      <%= simple_form_for :user, url: event_invitations_path(@event), method: :post do |f| %>

      <div class="d-flex justify-content-center">
        <div class="user-container">
          <% @users.each do |user| %>
            <div class="checkbox-selector d-flex justify-content-center">
              <label class="tag-item-user" data-controller="set-users" data-set-users-target="button" data-action="click->set-users#toggleButton">
                <div class="checkbox-box"><%= check_box_tag 'users[]', user.email, false %></div>
                  <i class="fa-solid fa-user-plus add-friends-icon-div d-flex align-items-center" ></i>
                  <%= user.email %>
              </label>
            </div>
          <% end %>
        </div>

        <div class="row-cta d-flex  py-4 px-2">
          <div class="submit-button">
            <div class="x">
              <button class="invite-friends btn-cta" name="submit" type="submit">Invite Friends</button>
            </div>
          </div>
        </div>
      </div>

      <% end %>

    </div>
  </div> <!-- CLOSING BODY-->
<!-- Body of the page / different code -->

<!-- General design / copy that to every page -->

</div> <!-- CLOSING CONTAINER-->
