
<!-- General design / copy that to every page -->
<div class="container py-0">
  <div class="row-header">
    <div class="back-button">
      <%= link_to(event_path) do %>
      <div class="btn-back"><i class="fa-solid fa-arrow-left"></i></div>
      <% end %>
    </div>
  </div>
<!-- General design / copy that to every page -->

<!-- Body of the page / different code / Don't forget the CLOSING BODY -->
  <div class="row-body">
    <div class="body-event">
      <div class="body-title pt-0 pb-4">
        <h2 class="event-header"> All User </h2>
      </div>

        <%= form_with url: event_invitations_path(@event), method: :post do |f| %>

          <% @users.each do |user| %>
              <div>
                <%= check_box_tag 'users[]', user.email, false %>
                <%= user.email  %>
              </div>
          <% end %>

        <%# <%= f.submit "Invite Friends"
        <% end %>

        <div class="row-cta d-flex  py-4 px-2">
          <div class="submit-button">
            <div class="x">
              <button class="invite-friends btn-cta" name="submit" type="submit">Invite Friends</button>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div> <!-- CLOSING BODY-->
<!-- Body of the page / different code -->

<!-- General design / copy that to every page -->

</div> <!-- CLOSING CONTAINER-->
